.d-flex {
    display: flex;
}

.flex-left {
    justify-content: start;
}

.flex-right {
    justify-content: end;
}

.flex-gap {
    justify-content: space-between;
}

.flex-bottom {
    align-items: flex-end;
}

.flex-top {
    align-items: flex-start;
}

.flex-center {
    align-items: center;
}