@import "flex.css";
@import "table.css";

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin     : 0;
}

.header,
.content {
  display        : flex;
  justify-content: center;
}

.header {
  background-color: #ddd;
}

.header h1,
.header h3 {
  margin-right: 10px;
}

.header h3 {
  margin-bottom: 1.33em;
}

.container {
  min-width: 960px;
}

.source-link {
  text-decoration : none;
  color           : initial;
  border          : 1px solid #333;
  border-radius   : 20%;
  padding         : 6px;
  background-color: #eee;
}

.source-link:hover {
  background-color: #fff;
}