table {
    border-collapse: collapse;
    width          : 100%;
}

table th,
table td {
    padding   : 8px;
    text-align: left;
}

table th {
    border-bottom: 1px solid #ccc;
}

table td {
    border-bottom: 1px solid #ddd;
}

table tbody tr:hover {
    background-color: #eee;
}

th.sort-asc::after {
    content: '\25b2';
}

th.sort-desc::after {
    content: '\25bC';
}

#rank-head {
    min-width: 62px;
}

table .sortable {
    cursor: pointer;
}